html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #000000;
}

#wrap {
    width: 100%;
    position: relative;
    min-height: 100%;
}

.headerContena {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    z-index: 4;
}

.footerContena {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: 4;
}

#titleContent {
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 10px;
    width: 100%;
    font-size: 40px;
    text-align: center;
    color: white;
    text-shadow: 0 -2px #000000, 2px -2px #000000, 2px 0 #000000, 2px 2px #000000, 0 2px #000000, -2px 2px #000000, -2px 0 #000000, -2px -2px #000000;
    font-family:'Lucida Grande', Meiryo, sans-serif;
    letter-spacing: 6px;
    z-index: 5;
}

input[type=text]{
    border-radius: 5px;
    border:#a9a9a9 1px solid;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2),0 0 2px rgba(0,0,0,0.3);
    width:200px;
    height:30px;
    padding:0 3px;
    font-size: 15px;
}

input[type=text]:focus {
    border:solid 1px #20b2aa;
}

input[type=text], select {
    outline: none;
}

select{
    border-radius: 5px;
    border:#a9a9a9 1px solid;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2),0 0 2px rgba(0,0,0,0.3);
    height:30px;
    padding:0 3px;
    font-size: 20px;
}

select:focus {
    border:solid 1px #20b2aa;
}

select {
    outline: none;
}
#userlist {
    min-width: 100px;
}

button {
    /* 文字サイズを1.4emに指定 */
    font-size: 1.4em;

    /* 文字の太さをboldに指定 */
    font-weight: bold;

    /* 縦方向に10px、
     * 横方向に30pxの余白を指定 */
    padding: 10px 30px;

    /* 文字色を白色に指定 */
    color: #fff;

    /* ボーダーをなくす */
    border-style: none;

    /* テキストの影の指定
     * 影の横幅を1px
     * 縦長を1px
     * ぼかしを2px
     * 色を#000（黒）に指定 */
    text-shadow: 1px 1px 2px #000;

    /* グラデーションの指定 */
    background: -webkit-gradient(linear, left bottom, left top, from(#36d), color-stop(0.5, #248), to(#36d));

    /* 角丸の指定 */
    border-radius: 5px;
}

button:hover {
    /* 透明度を20%に指定 */
    opacity: 0.8;
}

.myVideContena{
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: 100px;
    right: 20px;
    border-radius: 100px;
    z-index: 2;
    overflow: hidden;
}

#remoteVideo {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

#myVideo {
    position: absolute;
    width: 300px;
    height: 300px;
    top: -50px;
    left: -50px;
}

#myTelop {
    font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
    background-color:rgba(255,255,255,0.65);
    color: #000;
    font-size:200%;
    position: absolute;
    bottom: 20px;
    width: 100px;
    text-align: center;
    z-index: 3;

}